<ion-view view-title="Map" align-title="left" class="login-view">
    <ion-content scroll="false" data-tap-disabled="true">
        <div class="row row-center" style="height: 100%">
            <div class="col " style="height: 100%">
                <!--<div class='pin' nickname="semecher"  style='background: #219710 url("img/xpto.png") no-repeat bottom'></div><div class='pulse'></div>-->
                <hud></hud>
                <map mode="OPERATOR"  class='custom-popup' on-create="mapCreated(map)"></map>
            </div>
        </div>
    </ion-content>
</ion-view>
